@media (min-width: 300px) and (max-width: 500px) {
  .solaris-slogan {
    font-size: 0.75em;
  }

  .solaris-title {
    font-size: 1.5em;
  }

  .web-nav,
  .socials {
    text-align: center;
    font-size: 0.8em;
  }
}